form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;

  label {
    text-align: left;
  }
  
  input,
  select,
  textarea {
    padding: 5px;
    margin-bottom: 10px;
  }

  input.error {
    border-color: red;
  }
  
  .show-error {
    margin: -10px 0 15px 0;
    margin-top: -10px;
    font-size: 10px;
    color: red;
    text-align: left;
  }
}

.cards {
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}