.card-item {
  list-style: none;
  margin: 10px;
  width: calc(25% - 5px);
  display: flex;

  .card {
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    background: #ccc;
    text-align: left;

    p {
      margin: 10px 0;
      
      span {
        font-weight: bold;
      }
    }
  }
}